@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
* {
  transition: 0.3s all;
}
body {
  background: url(/ZEE5/back.jpg);
  overflow: hidden;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
.text {
  display: grid;
  place-items: center;
  width: 100vw;
}
h1,
.title {
  color: white;
  font-size: 5em;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
  font-weight: 8000;
}

span {
  color: white;
  font-family: "Zilla Slab Highlight", cursive;
  text-align: center;
  font-size: 3em;
}
.main {
  display: grid;
  place-items: center;
  margin-top: 120px;
  width: 100vw;
}
input {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 600;
  padding-left: 20px;
  background: rgb(255, 255, 255);
  color: black;
}

input:focus {
  outline: none;
  box-shadow: 0 0 6px 4px rgba(0, 183, 255, 0.562);
}

.btn {
  margin-top: 50px;
  width: 130px;
  height: 40px;
  border-radius: 15px;
  border: none;
  color: rgb(0, 123, 160);
  font-size: 1.1em;
  font-weight: 600;
}
.btn:hover {
  background: rgb(0, 123, 160);
  color: white;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
h3 {
  color: rgba(255, 255, 255, 0.651);
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
}
h3:hover {
  color: rgba(255, 255, 255, 0.829);
}
@media screen and (max-width: 500px) {
  body {
    background: url(space.jpg);
    overflow: hidden;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  h3 {
    margin-left: 180px;
    margin-top: 80px;
    opacity: 0.3;
  }
  h1 {
    font-size: 3em;
  }
  input {
    width: 300px;
  }
  .title {
    font-size: 2em;
  }
}
.tt {
  display: grid;
  place-items: center;
  width: 100vw;
}

video {
  width: 500px;
  height: 500px;
}
